[submodule "2021-4-15"]
	path = 2021-4-15
	url = https://github.com/daltonjmcgee/2021-4-15
[submodule "2021-4-20"]
	path = 2021-4-20
	url = https://github.com/daltonjmcgee/2021-4-20
[submodule "2021-4-26"]
	path = 2021-4-26
	url = https://github.com/daltonjmcgee/2021-4-26
[submodule "2021-8-18"]
	path = 2021-8-18
	url = https://github.com/daltonjmcgee/2021-8-18
[submodule "2021-10-24"]
	path = 2021-10-24
	url = https://github.com/daltonjmcgee/2021-10-24
[submodule "2021-11-15"]
	path = 2021-11-15
	url = https://github.com/daltonjmcgee/2021-11-15
[submodule "2021-12-24"]
	path = 2021-12-24
	url = https://github.com/daltonjmcgee/2021-12-24
